 *, 
 *::before, 
 *::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1, h2, h3, h4, p, ul, ol, li, blockquote, fieldset {
  margin: 0;
  padding: 0;
 /*нет рамки у подписей*/
  border: none;
}

ul, ol {
  list-style: none;
}

 /*границы * {outline: 1px solid red;}*/

*a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: row;
  /*вместо margin паддинги поставила скролл исчез*/
  padding: 133px 30px;
  justify-content: center;
}

.result {
  /*между видео и словами справа*/
  margin: 0px 30px 0px 16px;
  max-width: 711px;
}

.result__video-container {
  padding: 0px;
  margin: 70px 0px 16px;
  max-height: 386px;
  cursor: pointer;
  max-width: 711px;
  /*индекс - при перезагрузке виден текст*/
  position: relative;
  z-index: 1;
}

.result__video {
  width: 711px;
  height: 386px;
}

.search-form {
  /*контейнер всех 3ёх текстов*/
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /*position: relative;
  z-index: 1;*/
  /*чтоб видео не вылезало за границы
  margin: 0px;
  padding: 16px 0px 0px; */
  background-color: #1b1919;
}

.search-form__fieldset {
  /*контейнер текста*/
  margin: 0px 40px;
  width: 212px;
}

.search-form__fieldset-title {
  /*заголовки город и время*/
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 5px;
  font-family: "Fira Sans Condensed";
}

.search-form__checkbox-list {
  /*контейнер*/
  display: flex;
  /*justify-content: space-between;*/
  gap: 14px;
}

.search-form__checkbox-list:focus {
  /*не могу его найти но он откуда-то лезет так что тут настроить нужно*/
  outline: none;
}

.search-form__checkbox-list:focus-visible {
  outline: none;
}

/*.search-form__checkbox-list:hover .search-form__label-text {
  /*действует потому что лэйбл текст внутри чекбокс списка находится
  text-decoration: underline;
}*/

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label {
  /*встали в один ряд квадраты и утро день ночь*/
  display: flex;
  flex-direction: row;
}

.search-form__label:focus {
  /*для контейнера утро и спб*/
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label-text {
  /*текст утро день ночь*/
  min-height: 22px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  /*спб например текст*/
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #1b1919;
  /*240 вместо 225 иначе р не видна*/
  width: 225px;
  /*подчеркивания*/
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-right: none;
  font-family: "Fira Sans Condensed";
  color: white;
  margin: 0px;
  padding: 0px;
}

.search-form__textfield:active {
  outline: 1px solid white;
}

/* .search-form__textfield:focus {
  /*в инструментах страницы отображается фокус
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
} */

.search-form__fieldset:first-of-type {
  margin: 0px;
  width: 225px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1919;
  border: 1px solid white;
  margin: 2px 7px 2px 0px;
}

.search-form__pseudo-checkbox::after {
  /*checked псевдокласс для чекбоксов и радиокнопок*/
  content: '';
  height: 15px;
  width: 15px;
  background-color: #1B1919;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  background-color: #FFF;
}

.search-form__pseudo-checkbox:hover {
  text-decoration: underline;
}

.button {
  /*общие стили 2ух кнопок*/
  background-color: #1b1919;
  color: #FFF;
  min-height: 34px;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #FFF;
  cursor: pointer;
  font-family: "Fira Sans Condensed";
 }

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  /*фокусы отображаются в инструментах страницы*/
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
} 

.search-form__submit-button {
  /*кнопка НАЙТИ*/
  width: 203px;
  margin: 22px 0px 0px;
}

.content__details {
  width: 399px;
}

.title {
  width: 260px;
  margin: 0px 0px 26px 0px;
  font-family: "Oswald";
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  /*индекс - при перезагрузке виден текст*/
  position: relative;
  z-index: 1;
}

.content__accent {
  color: #545050;
  position: relative;
  z-index: 1;
}

.content__list {
  display: flex;
  flex-direction: column;
  /*свойство для прокрутки*/
  overflow: auto;
  /*скролл вертикальный*/
  overflow-y: scroll;
  /*скролл горизонтальный скрыт hidden*/
  overflow-x: scroll;
  max-width: 399px;
  margin: 0px;
  max-height: 290px;
  /*индекс - при перезагрузке виден текст*/
  position: relative;
  z-index: 1;
}

/*.preloader-template {
  position: relative;
}
    
.preloader {
  position: absolute;
}
  
.preloader-chasing-squares {
  position: absolute;
}*/

.content__list-item {
  max-width: 394px;
  min-height: 107px;
  /*добавили сбоку 2пх чтоб виден был outline при focus-visible*/
  margin: 0px 0px 30px 5px;
  align-items: center;
}

.content__list-item:first-of-type {
  /*чтоб был виден outline при focus-visible*/
  margin-top: 10px;
}

/*.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}*/

.content__card-link:active {
  /*НЕ РАБОТАЕТ*/
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title {
  /*действует потому что тайтл находится внутри видео кард*/
  text-decoration: underline;
}

.content__card-link:hover .content__video-card-description {
  /*действует потому что сабтайтл находится внутри видео кард*/
  text-decoration: underline;
}

.content__card-link-current:focus {
  /*для ссылки*/
  outline: none;
}

.content__card-link-current:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}


.content__video-card {
  display: flex;
  flex-direction: row;
}

.content__video-card:active {
  background-color: #545050;
}

/* .content__video-card:hover .content__video-card-title {
  /*действует потому что тайтл находится внутри видео кард
  text-decoration: underline;
}

.content__video-card:hover .content__video-card-description {
  /*действует потому что сабтайтл находится внутри видео кард
  text-decoration: underline;
} */

.content__video-card-description-container {
  /*контейнер с подписями карточек*/
  width: 200px;
  /*убрали подсветку*/
  text-decoration: none;
}

.content__video-card-title {
  /*заголовок карточки*/
  color: #FFF;
  font-family: "Oswald";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  /*подчеркивания не убираются поэтому их цвет - фоновый*/
  text-decoration: underline;
  text-decoration-color: #1B1919;
  cursor: pointer;
}

.content__video-card-description {
  /*подзаголовок карточки*/
  color: #FFF;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
 /*подчеркивания не убираются поэтому их цвет - фоновый*/
  text-decoration: underline;
  text-decoration-color: #1B1919;
  cursor: pointer;
}

.content__video-card-thumbnail {
  /*картинки в фотокарточках*/
  object-fit: fill;
  height: 103px;
  /*width: 194px;*/
  margin: 0px 2px 0px 0px;
}

.more-button {
  /*показать ещё*/
  width: 394px;
  padding: 0px;
  /*чтоб outline был виден*/
  margin: 0px 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
}

/*.more-button:active {
  background-color: #545050;
}

.more-button:hover {
  text-decoration: underline;
}

.more-button:focus {
  outline: none;
}

.more-button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}*/